body{
	background-color: #7081fd;
	margin:	0px;
}
div.heading{
	line-height:200%;
	font-family:"Arial";
	font-weight:bold;
	font-size:50px;
	color: white;
	text-shadow: 3px 3px 2px gray;
}
div.boozeheading{
        line-height:250%;
        font-family:"Arial";
        font-weight:bold;
        font-size:28px;
        color: white;
	text-shadow: 3px 3px 2px gray;
}
div.forminput{
	color:white;
	text-color:white;
	font-size:20pt;
	font-family:"Arial";
	font-weight:bold;
	text-align:left;
	line-height:70%;
	background-color:#3f9ab8;
	margin:20px;
	margin-left:50px;
}
textarea.desc{
	height:50px;
	width:300px;
	font-family:Arial;
}
input.form{
	
	height:20px;
	width:300px;
		
}
div.main{
	background-color: #285374;
	border-style:solid;	
	border-color: white;
	border-width:3px;
	height:600px; 
	width: 1024px;
	margin:0px;
	position; absolute;
	top: 0px;
	left: 0px;}
div.content{
	background-color: #448ec7;
	vertical-align:top;
	padding-left: 20px;
	padding-right: 10px;
	border-style:solid;	
	border-color: white;
	border-width:3px;
	float: left;
	position: absolute;
	line-height;200%;
	top: 0px;
	left: 0px;
	height: 550px;
	width: 691px;
	color:white;}
div.forms{
	float:left;
	background-color:#3f9ab8;
	border-style:solid;
	border-color:white;
	border-width:3px;
	margin-left:-23px;
	padding-right:10px;
	padding-bottom:10px;
}
ul.errors{
	list-style-type:none;
	margin-top:-5px;
	margin-left:20px;
	line-height:00%;
}
div.button{
	margin-left:150px;
	margin-top:25px;
}
input.buttons{
        font-family:Arial;
	font-size:12pt;
	font-weight:bold;
	text-align:center;
	vertical-align:center;
	background-color: #285374;
	color:white;
	margin-left:20px;
	padding-left:15px;
	padding-right:15px;
	padding-top:10px;
	padding-bottom:10px;
	border-radius:5px;
	border-color:white;
}
div.side_bar{
	padding-left: 10px;
	background-color: #3f9ab8;
	padding-right: 10px;
	border-style:solid;	
	border-color: white;
	border-width:3px;
	position: fixed;
	top: 0px;
	left: 724px;
	height:600px;
	width:280px;
	float: right;
	display: block;}
div.boozelist{
	background-color: #327c94;
	border-width:2px;
	border-style:solid;	
	color:white;
	height:515px;
	border-radius:8px;
	text-alignment:left;
	overflow:auto;	
}
ul.booze{
	margin-top:5px;
}
li.booze{
	margin-left:-40px;
	list-style-type:none;
	font-size:14pt;
	line-height:200%;	
	overflow:hidden;
	border-style:solid;
	border-width:0px;
	padding-left:10px;
	margin-top:3px;
	background-color:#2c6680;
}
div.bottom_bar{
	float: left;
	text-align:left;	
	position: absolute;
	top: 550px;
	left: 0px;
	width: 720px;
	margin-top:17px;}
div.main p {
	margin-left: 20px;
	color: blue;
}
a.home:link,a.home:visited{
	margin-left:20px;
	font-family:Arial;
	font-size:16pt;
	font-weight:bold;
	color: white;
	text-decoration:none;
	text-align:bottom;
}
a.home:hover,a.home:active{
	font-family:Arial;	
	font-size:16pt;
	color:#3e3e66;
	text-decoration:none;
}
a.admin:link,a.admin:visited{
        margin-left:20px;
        font-family:Arial;
        font-size:18pt;
        color: white;
        text-decoration:none;
}
a.admin:hover,a.admin:active{
        font-family:Arial;
        font-size:18pt;
        color:#3e3e66;
        text-decoration:none;
}
a.booze:hover,a.booze:active,a.booze:link,a.booze:visited{
        font-family:Arial;
        font-size:16pt;
        color:white;
        text-decoration:none;
}
table.home_table{
        width: 100%;
        text-align: center;
}
table.home_table td{
        padding: 3em;
        margin: 3em;
}
table.home_table a{
        font-family:Arial;
        font-size:18pt;
        color: white;
        text-decoration:none;
}
