body{
	background-color: #171772;
	margin:	0px;
}
h1{
	color: white;
}
div.main{
	border-style:solid;	
	border-color: black;
	border-width:1px;
	height:800px; 
	width: 1024px;
	margin:0px;
	position; absolute;
	top: 0px;
	left: 0px;}
div.content{
	padding-left: 10px;
	padding-right: 10px;
	border-style:solid;	
	border-color: red;
	border-width:1px;
	float: left;
	position: absolute;
	top: 0px;
	left: 0px;
	height: 700px;
	width: 704px;}
div.side_bar{
	padding-left: 10px;
	padding-right: 10px;
	border-style:solid;	
	border-color: orange;
	border-width:1px;
	position: fixed;
	top: 0px;
	left: 724px;
	height:700px;
	width:280px;
	float: right;
	display: block;}
legend.booze{
	color:white;}
div.bottom_bar{
	border-style:solid;	
	border-color: green;
	border-width:1px;
	float: left;
	position: absolute;
	top: 700px;
	left: 0px;
	height: 100px;
	width: 1024px;}
div.main p {
	margin-left: 20px;
	color: blue;
}
a.home:link,a.home:visited{
	margin-left:20px;
	font-family:corbel;
	font-size:18pt;
	color: white;
	text-decoration:none;
}
a.home:hover,a.home:active{
	font-family:corbel;	
	font-size:18pt;
	color:#3e3e66;
	text-decoration:none;
}
a.admin:link,a.admin:visited{
        margin-left:20px;
        font-family:corbel;
        font-size:18pt;
        color: white;
        text-decoration:none;
}
a.admin:hover,a.admin:active{
        font-family:corbel;
        font-size:18pt;
        color:#3e3e66;
        text-decoration:none;
}

