.sobriety{
    display: none;
    position: absolute;
    left: 70px;
    top: 10px;
    right: 10px;
    bottom: 10px;
    margin: 20px;
    padding: 20px;
    border-style: dotted;
    border-width: 5px;
    border-color: red;
    font-size: 18pt;
}
.instructions{
    display: none;
    margin: 10%;
}
.sobriety p{
    margin-bottom: 15px;
}
.result{
    display: none;
    text-align: center;
    margin: 20%;
}
.clickme{
    display: none;
    height: 80%;
    width: 80%;
    margin: 10%;
    text-align: center;
}
.clickme_button{
    position: absolute;
    width: 150px;
    height: 80px;
    font-size: 17pt;
}
.start_button{
    width: 250px;
    height: 80px;
    font-size: 30pt;
}
.result_button{
    width: 350px;
    height: 80px;
    font-size: 24pt;
}
