iptables --flush

# allow in HTTP traffic
iptables -A INPUT -i wlan0 -p tcp --dport 80 -j ACCEPT
iptables -A INPUT -i wlan0 -p tcp --dport 443 -j ACCEPT

# allow DNS traffic
iptables -A INPUT -i wlan0 -p udp --dport 53 -j ACCEPT
iptables -A INPUT -i wlan0 -p tcp --dport 53 -j ACCEPT

# allow DHCP traffic
iptables -A INPUT -i wlan0 -p udp --dport 67 -j ACCEPT
iptables -A INPUT -i wlan0 -p udp --dport 68 -j ACCEPT

# allow ping
iptables -A INPUT -i wlan0 -p icmp -m icmp --icmp-type 8 -j ACCEPT

# allow in SSH traffic
iptables -A INPUT -i wlan0 -p tcp --dport 22 -m state --state NEW,ESTABLISHED -j ACCEPT

# reject everything else on the wlan0 interface
iptables -A INPUT -i wlan0 -j REJECT
