werkzeug
#smbus
#sqlite3
python-memcached
#flask
#flask-sqlalchemy
#flask-login
Flask==0.10.1
Flask-Login==0.3.2
#Flask-SQLAlchemy==1.3.23
Flask-SQLAlchemy
#Flask-SQLAlchemy==2.5
#Flask-SQLAlchemy to >= 2.5 
wtforms
pyserial
Adafruit_MotorHAT
